[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.6"
opencv-python = "==4.2.0.34"
joblib = "==0.15.0"
numpy = "==1.18.4"
Pillow = "==7.1.2"
scikit-learn = "==0.23.0"

[requires]
python_version = "3.7"
